html {
    font-family: sans-serif;
}
html, body, #app {
    margin: 0; padding: 0; 
}
* {
    box-sizing: border-box;
}

section {
    max-width: 800px;
    padding: 0.5rem;
    margin: 0 auto;
}

header {
    background: rgb(49, 194, 138);
    padding: 2rem;
    color: white;
    user-select: none;
    margin-bottom: 1rem;
}
footer {
    background: rgb(26, 104, 74);
    padding: 2rem;
    color: white;
    user-select: none;
    margin-top: 1rem;
}

.eggs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.egg-wrapper {
    flex: 1 1 159px;
    height: 159px;
}

.egg {
    position: relative;
    width: 100%;
    height: 100%;
    

    .overlay {
        z-index: 5;
        background-image: url('/img/eggs/base-outline.png');
    }

    .pattern {
        z-index: 4;
    }

    .background {
        z-index: 3;
        mask-image: url('/img/eggs/base-mask.png');
    }

    .overlay, .background, .pattern {
        position: absolute;
        top: 0;
        left: 0;
        height: 159px;
        width: 159px;
        max-width: 159px;
        user-select: none;
        background-size: contain;
    }
}

.monster-database {
    display: flex;
    flex-direction: column;
}

.monster {
    display: flex;
    flex-direction: column;

    .monster-name {
        font-size: 1.4rem;
    }
}

label {
    display: block;
}
input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.color-wrapper {
    display: flex;

}

.color-preview {
    height: 25px;
    width: 100%;
    max-width: 100px;
    display: block;
}

.color-picker-wrapper {
    width: 100%;
    margin: 0.25rem 0;

    position: relative;

    .color-dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 250px;
        background: white;
        z-index: 20;
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.5rem;

        .colors {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

.color-picker {
    display: flex;
    flex-direction: row;
    align-items: center;

    .color-preview {
        margin-right: 1rem;
    }
}